 .u-section-1 {
  background-image: none;
  min-height: 906px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 512px;
  background-image: url("/images/300434100_169521875610722_8604481410233965050_n2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-1 .u-text-1 {
  width: 409px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 750px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 745px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 422px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    min-height: 323px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    width: 660px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 332px;
  }

  .u-section-1 .u-image-1 {
    min-height: 242px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 251px;
  }

  .u-section-1 .u-image-1 {
    min-height: 161px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-3 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 750px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 56px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 288px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 244px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 784px;
  background-image: url("/images/Dark.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 287px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 247px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 251px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 0 0 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 748px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 255px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0 20px 0 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 275px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 0 20px 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-2 .u-image-1 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 134px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 139px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 1289px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 138px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: auto;
  }

  .u-section-2 .u-text-10 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 134px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-12 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 139px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: auto;
  }

  .u-section-2 .u-text-14 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-6 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    width: 360px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-text-10 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-12 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-text-14 {
    width: 360px;
  }
} .u-section-3 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 1427px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 750px;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 56px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 288px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 244px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 287px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 247px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 251px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 55px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 0 0 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 255px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0 20px 0 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 275px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 219px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 0 20px 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -389px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 252px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-3 .u-text-13 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1564px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-8 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
  }

  .u-section-3 .u-text-10 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-11 {
    margin-left: auto;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-13 {
    margin-left: auto;
  }

  .u-section-3 .u-text-14 {
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-4 {
    width: 360px;
  }

  .u-section-3 .u-text-6 {
    width: 360px;
  }

  .u-section-3 .u-text-8 {
    width: 360px;
  }

  .u-section-3 .u-text-10 {
    width: 360px;
  }

  .u-section-3 .u-text-12 {
    width: 360px;
  }

  .u-section-3 .u-text-14 {
    width: 360px;
  }
} .u-section-4 {
  margin-top: 20px;
}

.u-section-4 .u-sheet-1 {
  min-height: 1198px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  font-size: 2rem;
  width: 750px;
  font-weight: normal;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 100px 0 0;
}

.u-section-4 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 750px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 60px 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 697px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  height: 345px;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-weight: bold;
  margin: 60px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  height: 345px;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 60px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 186px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 186px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    width: 60px;
    height: 60px;
    padding: 8px;
  }

  .u-section-4 .u-text-3 {
    width: 782px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1363px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 30px;
    margin-bottom: -138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 672px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-1 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-2 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 684px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 750px;
  margin: 20px auto 0;
}

.u-section-5 .u-gallery-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 375px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-1 {
  width: 375px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-2 {
  width: 375px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-3 {
  width: 375px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-4 {
  width: 375px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-5 {
  width: 375px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-6 {
  width: 375px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-7 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-7 {
  width: 375px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-8 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-8 {
  width: 375px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-9 {
  width: 375px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-10 {
  width: 375px;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: 30px;
  }
} .u-section-6 {
  background-image: none;
  margin-top: 20px;
}

.u-section-6 .u-sheet-1 {
  min-height: 2253px;
}

.u-section-6 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-6 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 782px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 2.25rem;
  margin: 60px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0 0;
}

.u-section-6 .u-layout-cell-1 {
  filter: brightness(0.9);
  min-height: 420px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-video-1 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-6 .u-text-5 {
  margin: 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 60px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-6 .u-video-2 {
  filter: brightness(0.9);
  min-height: 420px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-video-3 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .embed-responsive-3 {
  position: absolute;
}

.u-section-6 .embed-responsive-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-6 .u-text-7 {
  margin: 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 60px 0 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-wrap-3 {
  margin-top: 60px;
  margin-bottom: -571px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 665px;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 665px;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px;
}

.u-section-6 .u-video-6 {
  min-height: 665px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: auto;
  }

  .u-section-6 .u-video-2 {
    min-height: 368px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 368px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 548px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 548px;
  }

  .u-section-6 .u-video-6 {
    min-height: 430px;
  }

  .u-section-6 .u-container-layout-7 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1841px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 30px;
    width: auto;
  }

  .u-section-6 .u-video-2 {
    min-height: 354px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 354px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-6 .u-layout-wrap-3 {
    margin-top: 30px;
    margin-bottom: -774px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 420px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 420px;
  }

  .u-section-6 .u-video-6 {
    min-height: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-6 .u-video-1 {
    left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 145px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-6 .u-video-2 {
    min-height: 307px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 156px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-6 .u-layout-wrap-3 {
    margin-top: -1085px;
    margin-bottom: -5888px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 945px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 945px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-video-6 {
    min-height: 441px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-gallery-1 {
    height: 259px;
    margin-bottom: 16px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-gap: 20px 20px;
  }

  .u-section-6 .u-over-slide-1 {
    padding: 20px;
  }

  .u-section-6 .u-over-slide-2 {
    padding: 20px;
  }

  .u-section-6 .u-over-slide-3 {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-text-2 {
    width: 360px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-video-2 {
    min-height: 272px;
  }

  .u-section-6 .u-video-3 {
    left: 0;
    right: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-6 .u-layout-wrap-3 {
    margin-top: -818px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 630px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 630px;
  }

  .u-section-6 .u-video-6 {
    min-height: 446px;
  }

  .u-section-6 .u-gallery-1 {
    height: 171px;
    margin-bottom: -1225px;
  }
}

.u-section-6 .u-video-1,
.u-section-6 .u-video-1:before,
.u-section-6 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-container-layout:hover .u-video-1 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-video-1 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-6 .u-video-1 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-video-1 {
  border-color: transparent !important;
}

.u-section-6 .u-video-3,
.u-section-6 .u-video-3:before,
.u-section-6 .u-video-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-container-layout:hover .u-video-3 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-video-3 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-6 .u-video-3 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-video-3 {
  border-color: transparent !important;
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/65737w.jpg");
  background-position: 50% 100%;
  margin-top: 20px;
}

.u-section-7 .u-sheet-1 {
  min-height: 865px;
}

.u-section-7 .u-text-1 {
  width: 707px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 120px auto 0;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  width: 750px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 713px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    margin-top: 54px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-bottom: 0;
  }
} .u-section-8 {
  background-image: none;
  margin-top: 20px;
}

.u-section-8 .u-sheet-1 {
  min-height: 749px;
}

.u-section-8 .u-text-1 {
  width: 898px;
  margin: 120px auto 0;
}

.u-section-8 .u-text-2 {
  width: 750px;
  margin: 20px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  width: 909px;
  margin: 60px auto;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px);
  grid-gap: 30px 30px;
  width: 1140px;
  margin-right: 0;
  margin-left: 0;
  min-height: 150px;
}

.u-section-8 .u-image-1 {
  background-image: url("/images/Untitled-1.png");
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  background-image: url("/images/taixuong.png");
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-3 {
  background-image: url("/images/logo-shopee-inkythuatso-2-01-24-14-52-10.jpg");
}

.u-section-8 .u-container-layout-3 {
  padding: 0;
}

.u-section-8 .u-image-4 {
  background-image: url("/images/ExnteDl.png");
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-8 .u-list-1 {
    width: 920px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px);
    grid-gap: 5px 5px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-list-1 {
    width: 912px;
    margin-left: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-gap: 0px 0px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-columns: 25%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-8 .u-list-1 {
    width: 570px;
    margin-top: 30px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-top: 30px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-list-1 {
    width: 100%;
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 963px;
}

.u-section-9 .u-group-1 {
  width: 570px;
  min-height: 379px;
  height: auto;
  margin: 300px 0 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-line-1 {
  width: 404px;
  transform-origin: left center 0px;
  margin: 0 auto 0 -67px;
}

.u-section-9 .u-text-1 {
  text-align: justify;
  margin: 15px 30px 0;
}

.u-section-9 .u-text-2 {
  text-align: justify;
  margin: 20px 30px 0;
}

.u-section-9 .u-image-1 {
  width: 511px;
  height: 783px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -619px auto 101px 76px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-9 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-9 .u-line-1 {
    width: 383px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 470px;
    height: 682px;
    margin-bottom: 120px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-9 .u-group-1 {
    min-height: 329px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-line-1 {
    width: 329px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-9 .u-image-1 {
    width: 570px;
    height: 570px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-9 .u-group-1 {
    min-height: 257px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-line-1 {
    margin-top: 0;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 30px;
    margin-bottom: -45px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    height: 400px;
    width: 300px;
    margin-bottom: -50px;
  }
}