 .u-section-1 {
  background-image: none;
  min-height: 705px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 50px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 104px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 2rem;
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("/images/Frame481745.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    width: 252px;
    margin-right: 24px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 464px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 721px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 491px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 391px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px 0;
}

.u-section-2 .u-video-1 {
  min-height: 451px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 248px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 30px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 188px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  width: 160px;
  height: 79px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-sheet-1 {
  min-height: 675px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.21;
  margin: 86px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 401px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 761px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
  }
} .u-section-5 {
  margin-top: 20px;
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1081px;
}

.u-section-5 .u-text-1 {
  font-size: 2.625rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 750px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 820px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-5 .u-image-1 {
  height: 744px;
  margin: 33px auto 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-11 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 225px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 676px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    height: 609px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 225px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 225px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 777px;
  }

  .u-section-5 .u-image-1 {
    height: 704px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1625px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 1166px;
  }

  .u-section-5 .u-image-1 {
    height: 1070px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 734px;
  }

  .u-section-5 .u-image-1 {
    height: 663px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  margin-top: 20px;
}

.u-section-6 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-6 .u-text-1 {
  letter-spacing: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  font-size: 2.25rem;
  width: 750px;
  font-weight: normal;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.625rem;
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: none;
  width: 782px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 697px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 345px;
  margin: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 345px;
  margin: 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 345px;
  margin: 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 345px;
  margin: 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-11 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 186px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 186px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-6 .u-image-1 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-6 .u-image-2 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-6 .u-image-3 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-6 .u-image-4 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-11 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 78px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 3px;
    padding-left: 3px;
  }

  .u-section-6 .u-image-1 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 3px;
    padding-left: 3px;
  }

  .u-section-6 .u-image-2 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 3px;
    padding-left: 3px;
  }

  .u-section-6 .u-image-3 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 3px;
    padding-left: 3px;
  }

  .u-section-6 .u-image-4 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-left: -3px;
    margin-right: -3px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 690px;
}

.u-section-7 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 524px;
  height: auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -57px;
}

.u-section-7 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-7 .u-group-1 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 60px 40px 40px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 0;
  padding: 14px 48px 16px 47px;
}

.u-section-7 .u-image-1 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-7 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-7 .u-group-2 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 60px 40px 40px;
}

.u-section-7 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 0;
  padding: 14px 48px 16px 47px;
}

.u-section-7 .u-image-2 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-7 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 65px;
}

.u-section-7 .u-group-3 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 60px 40px 40px;
}

.u-section-7 .u-text-5 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 0;
  padding: 14px 48px 16px 47px;
}

.u-section-7 .u-image-3 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-7 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-7 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 397px;
    height: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 32px;
  }

  .u-section-7 .u-image-1 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-7 .u-group-2 {
    width: 397px;
    height: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 32px;
  }

  .u-section-7 .u-image-2 {
    width: 405px;
  }

  .u-section-7 .u-group-3 {
    width: 397px;
    height: auto;
  }

  .u-section-7 .u-container-layout-6 {
    padding-bottom: 32px;
  }

  .u-section-7 .u-image-3 {
    width: 405px;
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 927px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-7 .u-group-1 {
    min-height: 383px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-7 .u-group-2 {
    min-height: 383px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-7 .u-group-3 {
    min-height: 383px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 908px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 961px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-7 .u-image-1 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-7 .u-image-2 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-7 .u-image-3 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/65737w.jpg");
  background-position: 50% 100%;
  margin-top: 20px;
}

.u-section-8 .u-sheet-1 {
  min-height: 845px;
}

.u-section-8 .u-text-1 {
  width: 707px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.625rem;
  font-weight: 700;
  margin: 80px auto 0;
}

.u-section-8 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  width: 750px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 697px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
    margin-top: 54px;
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 923px;
}

.u-section-9 .u-group-1 {
  width: 570px;
  min-height: 569px;
  height: auto;
  margin: 187px 0 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-line-1 {
  width: 404px;
  transform-origin: left center;
  margin: 103px auto 0 -67px;
}

.u-section-9 .u-text-1 {
  font-size: 2.625rem;
  text-align: justify;
  font-weight: 700;
  margin: 15px 30px 0;
}

.u-section-9 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 117px 30px 0;
}

.u-section-9 .u-image-1 {
  width: 511px;
  height: 783px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -676px auto -47px 76px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-9 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-9 .u-line-1 {
    width: 383px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 470px;
    height: 682px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-9 .u-group-1 {
    min-height: 412px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-line-1 {
    width: 329px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-9 .u-image-1 {
    height: 501px;
    margin-right: -39px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-9 .u-image-1 {
    margin-right: -37px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-9 .u-image-1 {
    height: 317px;
    width: 248px;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
  margin-top: 20px;
}

.u-section-10 .u-sheet-1 {
  min-height: 732px;
}

.u-section-10 .u-text-1 {
  font-size: 2.625rem;
  width: 898px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  width: 750px;
  margin: 30px auto 0;
}

.u-section-10 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px 0 -252px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 188px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  width: 160px;
  height: 160px;
  margin: 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  width: 160px;
  height: 160px;
  margin: 0;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-image-4 {
  width: 160px;
  height: 160px;
  margin: 0;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-image-5 {
  width: 160px;
  height: 160px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-10 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 700px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1934px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-image-1 {
    height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-3 {
    height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-4 {
    height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-5 {
    height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-11 {
  background-image: url("/images/nn.jpg");
  background-position: 50% 50%;
  min-height: 754px;
}

.u-section-11 .u-shape-1 {
  height: 408px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  margin: -339px auto 0;
}

.u-section-11 .u-list-1 {
  width: 1033px;
  margin: 44px auto 0;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 465px;
  grid-gap: 33px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-11 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-11 .u-image-1 {
  width: 109px;
  height: 109px;
  background-image: url("/images/e.jpg");
  background-position: 50% 50%;
  margin: 30px 163px 0 0;
}

.u-section-11 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-4 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-11 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-11 .u-image-2 {
  width: 109px;
  height: 109px;
  background-image: url("/images/hgghgh.jpg");
  background-position: 50% 50%;
  margin: 30px 163px 0 0;
}

.u-section-11 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-7 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-11 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-11 .u-image-3 {
  width: 109px;
  height: 109px;
  background-image: url("/images/fgfg.jpg");
  background-position: 50% 50%;
  margin: 30px 163px 0 0;
}

.u-section-11 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-10 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-11 .u-text-11 {
  margin: 30px auto 60px;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 622px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2));
    font-size: 3.4375rem;
  }

  .u-section-11 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 469px;
  }

  .u-section-11 .u-text-11 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 476px;
  }

  .u-section-11 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-list-1 {
    width: 720px;
    margin-right: auto;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 997px;
  }

  .u-section-11 .u-text-11 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 357px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-11 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 165px;
    padding-left: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-right: 165px;
    padding-left: 10px;
  }

  .u-section-11 .u-text-11 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 225px;
  }

  .u-section-11 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 55px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-right: 55px;
  }

  .u-section-11 .u-text-11 {
    margin-left: calc(((100% - 340px) / 2));
  }
}