 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  margin: 100px auto 18px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1457px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  font-size: 2rem;
  width: 750px;
  font-weight: normal;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 50px auto 20px;
}

.u-section-2 .u-text-3 {
  margin: 20px 165px 0 226px;
}

.u-section-2 .u-list-1 {
  width: 663px;
  grid-template-rows: auto auto auto;
  margin: 50px auto 80px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 969px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("/images/BannerappAndroid18.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 279px;
  min-height: 324px;
  height: auto;
  margin: -1px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("/images/BannerappAndroid13.png");
  background-size: cover, cover;
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 279px;
  min-height: 324px;
  height: auto;
  margin: -1px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("/images/BannerappAndroid17.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 279px;
  min-height: 324px;
  height: auto;
  margin: -1px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 0 auto;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: 689px;
    margin-left: 126px;
    margin-right: 65px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-group-1 {
    background-size: auto;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    background-size: auto;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    background-size: cover, cover;
  }

  .u-section-2 .u-group-3 {
    background-size: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    background-position: 88.18% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    background-position: 73.87% 50%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 360px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 215px;
  }

  .u-section-2 .u-group-2 {
    width: 215px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 823px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.21;
  margin: 50px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 8px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px;
}

.u-section-3 .u-text-2 {
  margin: 68px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-3 .u-image-1 {
  height: 582px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: -66px 103px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 480px;
  }

  .u-section-3 .u-image-1 {
    height: 522px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: -180px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 391px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: -52px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -309px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-4 {
    margin-top: -99px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-4 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-4 .u-text-2 {
  width: 750px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 817px;
  margin: 50px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 286px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 286px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 438px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 12px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 438px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("/images/z4871959013847_2919f923c55b17e36c1de4dc93021f81.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -76px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 579px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-4 .u-text-2 {
    width: 360px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-4 .u-image-1 {
    min-height: 365px;
  }
} .u-section-5 {
  margin-top: 20px;
}

.u-section-5 .u-sheet-1 {
  min-height: 2719px;
}

.u-section-5 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-5 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 782px;
  margin: 21px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  min-height: 2344px;
  grid-auto-columns: calc(33.3333% - 26.6667px);
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  grid-gap: 40px 40px;
}

.u-section-5 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-5 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-image-6 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-image-7 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-image-8 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-image-9 {
  height: 765px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 26.666700000000002px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    min-height: 1917px;
  }

  .u-section-5 .u-image-1 {
    height: 631px;
  }

  .u-section-5 .u-image-2 {
    height: 631px;
  }

  .u-section-5 .u-image-3 {
    height: 631px;
  }

  .u-section-5 .u-image-4 {
    height: 631px;
  }

  .u-section-5 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-5 {
    height: 631px;
  }

  .u-section-5 .u-image-6 {
    height: 631px;
  }

  .u-section-5 .u-image-7 {
    height: 631px;
  }

  .u-section-5 .u-image-8 {
    height: 631px;
  }

  .u-section-5 .u-image-9 {
    height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 20.000025px);
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 3791px;
  }

  .u-section-5 .u-image-1 {
    height: 725px;
  }

  .u-section-5 .u-image-2 {
    height: 725px;
  }

  .u-section-5 .u-image-3 {
    height: 725px;
  }

  .u-section-5 .u-image-4 {
    height: 725px;
  }

  .u-section-5 .u-image-5 {
    height: 725px;
  }

  .u-section-5 .u-image-6 {
    height: 725px;
  }

  .u-section-5 .u-image-7 {
    height: 725px;
  }

  .u-section-5 .u-image-8 {
    height: 725px;
  }

  .u-section-5 .u-image-9 {
    height: 725px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 119px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-5 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-6 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-7 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-8 {
    height: 1088px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-9 {
    height: 1088px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 78px;
    margin-bottom: 25px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-5 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-6 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-7 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-8 {
    height: 725px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-9 {
    height: 725px;
  }
}